<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Meus contatos</h1>
    <h2>Olá, <%= current_user.name %>!</h2>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <table class="table table-striped">
      <thead>

        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th colspan="2" style="text-align: right; padding-right: 0">
            <%= link_to 'Novo Contato', new_contact_path, class: 'btn btn-success' %>
          </th>
        <tr>

      </thead>

      <tbody>

        <% if @contacts.empty? %>
          <tr>
            <td colspan="4" class="text-center">
              <h3>Sem contatos cadastrados</h3>
              <%= link_to 'Clique aqui', new_contact_path %> para adicionar um novo contato
            </td>
          </tr>
        <% end %>

        <% @contacts.each do |contato| %>
          <tr>
            <td>
              <%= contato.name %>
            </td>

            <td>
              <%= contato.phone %>
            </td>

            <td>
              <%= link_to 'Editar', edit_contact_path(contato), class: 'btn btn-warning' %>
            </td>

            <td>
              <%= link_to 'Excluir', contact_path(contato), method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza que deseja apagar este contato?' } %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>

