<!DOCTYPE html>
<html>
  <head>
    <title>Agendinha</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
    
      <!--
      sempre que tiver mensagens de flash, esse bloco abaixo vai ajudar bastante e no controller
      coloca a mensagem desejada. No caso do users_controller vai a mensagem de sucesso no método
      create >>> flash[:success]
      -->

      <% flash.each do |message_type, message| %>
        <%= content_tag 'div', class: "alert alert-#{message_type} alert-dismissible", role: 'alert' do %>
          <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
        <% end %>
      <% end %>

      <%= yield %>

      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
